# Se importan las bibliotecas necesarias

In [1]:
import pandas as pd
import re
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestRegressor, VotingRegressor, GradientBoostingClassifier
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from catboost import CatBoostRegressor
%matplotlib inline

# Se lee el .csv

In [2]:
train = pd.read_csv('csv/train.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [3]:
ids_with_target_error = [328,443,513,2619,3640,3900,4342,5781,6552,6554,6570,6701,6702,6729,6861,7226]
train.loc[train['id'].isin(ids_with_target_error),'target'] = 0

In [4]:
col_rename = {'id': 'tp_datos_id', 'keyword': 'tp_datos_keyword', 'location': 'tp_datos_location', 'text': 'tp_datos_text'}
train = train.rename(columns= col_rename)
train.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
train.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
def clean_text(df):
    words = df['tp_datos_text'].str.split()
    clean_words = []
    clean_texts = []

    for sentence in words:
        clean_sentence = []
        for word in sentence:
            clean_word = re.sub('[^A-Za-z0-9]+','', word)
            clean_word = re.sub('[0-9]+', '', clean_word)
            if(clean_word != ''):
                clean_sentence.append(clean_word.lower())
        clean_words.append(clean_sentence)
    for words in clean_words:
        clean_text = ''
        for word in words:
            #word_without_num = ''.join([i for i in word if not i.isdigit()])
            #if(word_without_num != ''):
                clean_text += ' ' + word
             #   clean_text += ' ' + word_without_num
        clean_texts.append(clean_text)
    return clean_texts
train['clean_text']= clean_text(train)
train.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake m...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are b...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfires evacuation orders in...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as ...

In [7]:
vocab = pd.read_csv('negative-words.txt', header=None)
vocab = vocab[0]
vocab

0         abnormal
1          abolish
2       abominable
3       abominably
4        abominate
           ...
4776          zaps
4777        zealot
4778       zealous
4779     zealously
4780        zombie
Name: 0, Length: 4781, dtype: object

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(min_df=2, stop_words= {'english'}, max_df= 0.60, ngram_range= (1,2))
x = v.fit_transform(train['clean_text'])
tf = pd.DataFrame.sparse.from_spmatrix(x)
tf.head()

,0,1,2,3,4,5,6,7,8,9,...,16703,16704,16705,16706,16707,16708,16709,16710,16711,16712
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
rango = tf.shape[1]

In [10]:
cols = v.get_feature_names()

In [11]:
palabras = []
for i in range (0, rango):
    if tf[i].mean() == 0:
        del tf[i]
    else: 
        palabras.append(i)
len(palabras)

16713

In [12]:
palabras[6400]

6400

In [13]:
col_rename_tf = {}
type(col_rename)
for palabra in palabras: 
    col_rename[palabra] = str(cols[palabra])

In [14]:
train.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake m...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are b...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfires evacuation orders in...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as ...

In [15]:
tf.rename(columns=col_rename, inplace=True)
columnas_tf = tf.columns
tf.head()

,aa,aba,aba as,abandon,abandoned,abandoned aircraft,abbott,abbswinston,abbswinston zionist,abc,...,zippednews,zombie,zombie apocalypse,zone,zone coming,zone of,zouma,zouma has,zss,zss vs
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
train = pd.concat([train, tf], axis=1, sort=False)

In [17]:
test = pd.read_csv('csv/test.csv')

In [18]:
col_rename = {'id': 'tp_datos_id', 'keyword': 'tp_datos_keyword', 'location': 'tp_datos_location', 'text': 'tp_datos_text'}
test = test.rename(columns= col_rename)
test.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan

In [19]:
test['clean_text']= clean_text(test)
x = v.transform(test['clean_text'])
tf = pd.DataFrame.sparse.from_spmatrix(x)
tf.head()

,0,1,2,3,4,5,6,7,8,9,...,16703,16704,16705,16706,16707,16708,16709,16710,16711,16712
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
tf.columns = columnas_tf

In [21]:
tf.head()

,aa,aba,aba as,abandon,abandoned,abandoned aircraft,abbott,abbswinston,abbswinston zionist,abc,...,zippednews,zombie,zombie apocalypse,zone,zone coming,zone of,zouma,zouma has,zss,zss vs
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
test = pd.concat([test, tf], axis=1, sort=False)
del test['tp_datos_keyword']
del test['tp_datos_location']
del test['tp_datos_text']
del test['clean_text']
test.set_index('tp_datos_id', inplace=True)
test.head()

,aa,aba,aba as,abandon,abandoned,abandoned aircraft,abbott,abbswinston,abbswinston zionist,abc,...,zippednews,zombie,zombie apocalypse,zone,zone coming,zone of,zouma,zouma has,zss,zss vs
tp_datos_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
train.head()

,tp_datos_id,tp_datos_keyword,tp_datos_location,tp_datos_text,target,clean_text,aa,aba,aba as,abandon,...,zippednews,zombie,zombie apocalypse,zone,zone coming,zone of,zouma,zouma has,zss,zss vs
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake m...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are b...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfires evacuation orders in...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as ...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
del train['tp_datos_keyword']
del train['tp_datos_location']
del train['tp_datos_text']
del train['clean_text']
train.set_index('tp_datos_id', inplace=True)

### Entrenamiento del set de datos

In [25]:
X, y = train.iloc[:,train.columns != 'target'], train.iloc[:,0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train

,aa,aba,aba as,abandon,abandoned,abandoned aircraft,abbott,abbswinston,abbswinston zionist,abc,...,zippednews,zombie,zombie apocalypse,zone,zone coming,zone of,zouma,zouma has,zss,zss vs
tp_datos_id,,,,,,,,,,,,,,,,,,,,,
3334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
from sklearn.feature_selection import SelectPercentile, chi2
selec = SelectPercentile(chi2, percentile=10).fit(X_train, y_train)
X_new = selec.transform(X_train)
seleccionadas = pd.DataFrame(data=X_new)
seleccionadas

                                                      0
0       (0, 221)\t0.12478513331615565\n  (0, 656)\t0...
1                        (0, 1360)\t0.16607441862005867
2       (0, 138)\t0.3251832268054915\n  (0, 831)\t0....
3       (0, 129)\t0.2681729469829434\n  (0, 989)\t0....
4       (0, 241)\t0.1724289604374399\n  (0, 343)\t0....
...                                                 ...
6466    (0, 82)\t0.2458879969458754\n  (0, 217)\t0.1...
6467    (0, 42)\t0.10738774543067045\n  (0, 59)\t0.0...
6468                       (0, 59)\t0.12607098955469676
6469    (0, 17)\t0.12489088722751528\n  (0, 39)\t0.2...
6470    (0, 26)\t0.2475813356295744\n  (0, 766)\t0.1...

[6471 rows x 1 columns]

In [27]:
cols = selec.get_support(indices=True)
cols
features = X.columns[cols]
features

Index(['abandoned', 'abbswinston', 'abbswinston zionist', 'abc', 'abc news',
       'absolutely', 'abstorm', 'accident', 'accident experts', 'accident man',
       ...
       'yourself', 'youth', 'youth saved', 'youtube', 'youtube video', 'yr',
       'yr old', 'yyc', 'zionist', 'zionist terrorist'],
      dtype='object', length=1672)

In [28]:
X_train = X_train.filter(items = features)
X_test = X_test.filter(items = features)

#### Red

In [29]:
import pandas as pd
import re
import numpy as np
import tensorflow_hub as hub
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Embedding, LSTM,Dense, SpatialDropout1D, Dropout
from keras import layers
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split

In [30]:
X_train

,abandoned,abbswinston,abbswinston zionist,abc,abc news,absolutely,abstorm,accident,accident experts,accident man,...,yourself,youth,youth saved,youtube,youtube video,yr,yr old,yyc,zionist,zionist terrorist
tp_datos_id,,,,,,,,,,,,,,,,,,,,,
3334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
rango = X_train.shape[1] 
model = Sequential()
model.add(layers.Dense(1024, input_dim=rango, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(layers.Dense(512, input_dim=rango, activation='sigmoid'))
model.add(Dropout(0.25))
model.add(layers.Dense(1, activation='sigmoid'))

In [32]:
optimizer=Adam(learning_rate=5e-5)
model.compile(loss='binary_crossentropy', 
              optimizer=optimizer, 
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              1713152
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 513
=================================================================
Total params: 2,238,465
Trainable params: 2,238,465
Non-trainable params: 0
_________________________________________________________________

In [33]:
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

In [34]:
history = model.fit(X_train, y_train,
                    epochs=50,
                    verbose=True,
                    validation_data=(X_test, y_test),
                    batch_size=10)

Epoch 1/50
648/648 [==============================] - 4s 7ms/step - loss: 0.7037 - accuracy: 0.5412 - val_loss: 0.6843 - val_accuracy: 0.5727
Epoch 2/50
648/648 [==============================] - 5s 7ms/step - loss: 0.7060 - accuracy: 0.5328 - val_loss: 0.6808 - val_accuracy: 0.5727
Epoch 3/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6916 - accuracy: 0.5488 - val_loss: 0.6758 - val_accuracy: 0.5727
Epoch 4/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6881 - accuracy: 0.5596 - val_loss: 0.6708 - val_accuracy: 0.5727
Epoch 5/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6805 - accuracy: 0.5732 - val_loss: 0.6694 - val_accuracy: 0.6419
Epoch 6/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6729 - accuracy: 0.5888 - val_loss: 0.6583 - val_accuracy: 0.6042
Epoch 7/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6589 - accuracy: 0.6053 - val_loss: 0.6527 - val_accuracy: 0.6699
Epoch 8/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6491 - accuracy: 0.6311 - val_loss: 0.6391 - val_accuracy: 0.6217
Epoch 9/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6344 - accuracy: 0.6475 - val_loss: 0.6264 - val_accuracy: 0.7294
Epoch 10/50
648/648 [==============================] - 4s 7ms/step - loss: 0.6208 - accuracy: 0.6630 - val_loss: 0.6097 - val_accuracy: 0.7382
Epoch 11/50
648/648 [==============================] - 5s 7ms/step - loss: 0.5995 - accuracy: 0.6914 - val_loss: 0.5916 - val_accuracy: 0.6953
Epoch 12/50
648/648 [==============================] - 5s 7ms/step - loss: 0.5801 - accuracy: 0.7081 - val_loss: 0.5897 - val_accuracy: 0.6567
Epoch 13/50
648/648 [==============================] - 4s 7ms/step - loss: 0.5610 - accuracy: 0.7130 - val_loss: 0.5669 - val_accuracy: 0.7758
Epoch 14/50
648/648 [==============================] - 4s 7ms/step - loss: 0.5459 - accuracy: 0.7313 - val_loss: 0.5491 - val_accuracy: 0.7697
Epoch 15/50
648/648 [==============================] - 4s 7ms/step - loss: 0.5310 - accuracy: 0.7313 - val_loss: 0.5436 - val_accuracy: 0.7338
Epoch 16/50
648/648 [==============================] - 5s 7ms/step - loss: 0.5197 - accuracy: 0.7493 - val_loss: 0.5299 - val_accuracy: 0.7767
Epoch 17/50
648/648 [==============================] - 5s 7ms/step - loss: 0.5090 - accuracy: 0.7467 - val_loss: 0.5283 - val_accuracy: 0.7469
Epoch 18/50
648/648 [==============================] - 5s 7ms/step - loss: 0.5067 - accuracy: 0.7524 - val_loss: 0.5157 - val_accuracy: 0.7697
Epoch 19/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4872 - accuracy: 0.7626 - val_loss: 0.5133 - val_accuracy: 0.7846
Epoch 20/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4875 - accuracy: 0.7665 - val_loss: 0.5069 - val_accuracy: 0.7741
Epoch 21/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4840 - accuracy: 0.7671 - val_loss: 0.5180 - val_accuracy: 0.7478
Epoch 22/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4761 - accuracy: 0.7721 - val_loss: 0.5001 - val_accuracy: 0.7785
Epoch 23/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4653 - accuracy: 0.7823 - val_loss: 0.5015 - val_accuracy: 0.7723
Epoch 24/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4664 - accuracy: 0.7804 - val_loss: 0.5194 - val_accuracy: 0.7574
Epoch 25/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4614 - accuracy: 0.7829 - val_loss: 0.4991 - val_accuracy: 0.7706
Epoch 26/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4525 - accuracy: 0.7858 - val_loss: 0.5029 - val_accuracy: 0.7688
Epoch 27/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4575 - accuracy: 0.7815 - val_loss: 0.4979 - val_accuracy: 0.7706
Epoch 28/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4492 - accuracy: 0.7918 - val_loss: 0.4905 - val_accuracy: 0.7837
Epoch 29/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4510 - accuracy: 0.7880 - val_loss: 0.4906 - val_accuracy: 0.7828
Epoch 30/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4436 - accuracy: 0.7874 - val_loss: 0.4968 - val_accuracy: 0.7723
Epoch 31/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4472 - accuracy: 0.7895 - val_loss: 0.4907 - val_accuracy: 0.7811
Epoch 32/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4417 - accuracy: 0.7861 - val_loss: 0.4920 - val_accuracy: 0.7776
Epoch 33/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4339 - accuracy: 0.7948 - val_loss: 0.4889 - val_accuracy: 0.7776
Epoch 34/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4300 - accuracy: 0.7971 - val_loss: 0.4894 - val_accuracy: 0.7793
Epoch 35/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4330 - accuracy: 0.7954 - val_loss: 0.4892 - val_accuracy: 0.7811
Epoch 36/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4287 - accuracy: 0.8013 - val_loss: 0.4868 - val_accuracy: 0.7811
Epoch 37/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4266 - accuracy: 0.7994 - val_loss: 0.5042 - val_accuracy: 0.7732
Epoch 38/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4210 - accuracy: 0.8014 - val_loss: 0.4925 - val_accuracy: 0.7828
Epoch 39/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4189 - accuracy: 0.8034 - val_loss: 0.4970 - val_accuracy: 0.7767
Epoch 40/50
648/648 [==============================] - 4s 7ms/step - loss: 0.4161 - accuracy: 0.8016 - val_loss: 0.4992 - val_accuracy: 0.7767
Epoch 41/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4127 - accuracy: 0.8079 - val_loss: 0.4884 - val_accuracy: 0.7802
Epoch 42/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4193 - accuracy: 0.8037 - val_loss: 0.4863 - val_accuracy: 0.7837
Epoch 43/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4134 - accuracy: 0.8081 - val_loss: 0.4841 - val_accuracy: 0.7837
Epoch 44/50
648/648 [==============================] - 5s 8ms/step - loss: 0.4136 - accuracy: 0.8078 - val_loss: 0.4869 - val_accuracy: 0.7811
Epoch 45/50
648/648 [==============================] - 5s 8ms/step - loss: 0.4134 - accuracy: 0.8076 - val_loss: 0.4864 - val_accuracy: 0.7820
Epoch 46/50
648/648 [==============================] - 5s 8ms/step - loss: 0.4048 - accuracy: 0.8113 - val_loss: 0.4848 - val_accuracy: 0.7925
Epoch 47/50
648/648 [==============================] - 5s 8ms/step - loss: 0.4053 - accuracy: 0.8112 - val_loss: 0.4881 - val_accuracy: 0.7820
Epoch 48/50
648/648 [==============================] - 5s 8ms/step - loss: 0.3970 - accuracy: 0.8155 - val_loss: 0.4860 - val_accuracy: 0.7925
Epoch 49/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4027 - accuracy: 0.8153 - val_loss: 0.4876 - val_accuracy: 0.7820
Epoch 50/50
648/648 [==============================] - 5s 7ms/step - loss: 0.4038 - accuracy: 0.8105 - val_loss: 0.4840 - val_accuracy: 0.7898

In [35]:
X = X.filter(items = features)
train_pred = model.predict(X)
train_pred_int = train_pred

In [36]:
train['tfidf_net_bi'] = train_pred_int

In [37]:
train = train['tfidf_net_bi'].to_frame()

In [38]:
train.head()

             tfidf_net_bi
tp_datos_id
1                0.564173
4                0.982303
5                0.812961
6                0.983006
7                0.498404

In [39]:
train['tfidf_net_bi'].value_counts()

0.400659    158
0.999686     24
0.999910     20
0.999766     19
0.201966     17
           ...
0.143238      1
0.498114      1
0.979209      1
0.998290      1
0.119141      1
Name: tfidf_net_bi, Length: 6627, dtype: int64

In [40]:
train.to_csv('csv/train_TFIDF_bigramas.csv')

In [41]:
test = test.filter(items = features)
test.head()

,abandoned,abbswinston,abbswinston zionist,abc,abc news,absolutely,abstorm,accident,accident experts,accident man,...,yourself,youth,youth saved,youtube,youtube video,yr,yr old,yyc,zionist,zionist terrorist
tp_datos_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
test_pred = model.predict(test)
test_pred_int = test_pred

In [43]:
test['tfidf_net_bi'] = test_pred_int
test = test['tfidf_net_bi'].to_frame()
test.head()

             tfidf_net_bi
tp_datos_id
0                0.731684
2                0.675684
3                0.806482
9                0.757722
11               0.997448

In [44]:
test['tfidf_net_bi'].value_counts()

0.400659    81
0.592622    11
0.385306    10
0.999686    10
0.201966     8
            ..
0.694795     1
0.752584     1
0.287865     1
0.100908     1
0.471152     1
Name: tfidf_net_bi, Length: 2959, dtype: int64

In [45]:
test.to_csv('csv/test_TFIDF_bigramas.csv')