In [25]:
import pandas as pd
import numpy as np

## voy a separ el campo de coordenadas en latitud y longitud.

In [87]:
train = pd.read_csv('../csv/train_con_geo.csv')
test = pd.read_csv('../csv/test_con_geo.csv')

In [75]:
train.sample()

,Unnamed: 0,id,keyword,location,text,target,loc_nula,loc_valida,coordenadas
4443,4443,6323,hostage,NaN,If you fill your mind with encouragement and p...,0,1,0,"(nan, nan)"

In [76]:
test.sample()

,Unnamed: 0,id,keyword,location,text,loc_nula,loc_valida,coordenadas
1863,1863,6284,hijacking,france,#hot Funtenna: hijacking computers to send da...,0,1,"(46.603354, 1.8883335)"

In [88]:
train = train['coordenadas']
test = test['coordenadas']

In [78]:
train.sample(3)

6585                   (nan, nan)
574     (35.6729639, -79.0392919)
5008                   (nan, nan)
Name: coordenadas, dtype: object

In [89]:
def separar(coordenadas):
    if(coordenadas == '(nan, nan)' ):
        return (np.nan,np.nan)
    
    coordenadas = coordenadas.replace(')', "")
    coordenadas = coordenadas.replace('(', "")
    return tuple(map(float, coordenadas.split(',')))

In [90]:
train = train.apply(lambda x: separar(x) )
test = test.apply(lambda x: separar(x) )

In [91]:
test = pd.DataFrame(test.to_list(), columns =['Latitud', 'Longitud'])
train = pd.DataFrame(train.to_list(), columns =['Latitud', 'Longitud'])

In [93]:
test.sample()

        Latitud  Longitud
1377  39.101454 -84.51246

In [95]:
test.to_csv('../csv/test_coordeandas.csv')
train.to_csv('../csv/train_coordeandas.csv')