In [34]:
import pandas as pd
import re
import numpy as np
import pickle
import nltk
import spacy
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from catboost import CatBoostRegressor
from gensim.models import KeyedVectors
from gensim.parsing.preprocessing import STOPWORDS
%matplotlib inline
#nltk.download('punkt')
import tensorflow_hub as hub
import tensorflow as tf

### Genero un nuevo feature que es saber si la location es nula (Nan) o no, luego tomo la predict de usar embeding de texto y lo combino mediante un arbol.

### El predict de los word embeddings son los del modelo 2.

In [36]:
train = pd.read_csv('../csv/train.csv')
test  = pd.read_csv('../csv/test.csv')

In [37]:
train.sample(n = 5)

,id,keyword,location,text,target
6837,9794,trapped,NaN,Hollywood Movie About Trapped Miners Released ...,1
453,656,attack,Ireland,@DatTomm the funniest part about that twitter ...,0
4756,6766,lightning,NaN,Don't blink ?? won't see the Lightning take th...,1
511,737,attacked,israel,Christian Attacked by Muslims at the Temple Mo...,1
4287,6091,hellfire,UK,@DeeDee_Casey been on tour in the day to Hellf...,0

In [38]:
train['location'].isnull().mean() # tenemos un 30% de locations que son nul

0.33272034677525286

In [39]:
train['loc_nula'] = train.apply(lambda x: ( 1 if pd.isna(x['location']) else 0  ), axis = 1 )

In [40]:
train.sample(10)

,id,keyword,location,text,target,loc_nula
5781,8250,rioting,Australia,Twitter is doing a count down to the rioting a...,1,0
7071,10127,upheaval,NaN,How long O Lord (Study 3)\n The sixth seal ope...,1,1
4581,6514,injuries,"Madison, WI & St. Louis MO",@BuffoonMike I knew mo not doing much would bi...,0,0
2650,3805,detonate,"Winston-Salem, NC",@Furiosoxv stuns also probably won't be anythi...,0,0
6351,9081,structural%20failure,"ÌÏT: 27.9136024,-81.6078532",'@CatoInstitute: The causes of federal failure...,0,0
6494,9286,sunk,i beg vines sorry,@UnrealTouch fuck sake john Jesus my heart jus...,1,0
4176,5932,harm,NaN,@RJG0789 idk....I feel like his movies have do...,0,1
217,309,annihilated,"Greater Manchester, UK",@ACarewornHeart Have a good un fella sorry I w...,0,0
1020,1482,body%20bags,CA,HOBO Hobo Vintage Shira Convertible BÛ_ $238....,0,0
410,592,arson,NaN,Arson suspect linked to 30 fires caught in Nor...,1,1

In [41]:
#hago lo mismo para test.

In [42]:
test['loc_nula'] = test.apply(lambda x: ( 1 if pd.isna(x['location']) else 0  ), axis = 1 )

In [43]:
#### importo el embeding de w2v
w2v = pd.read_csv('csv/solo_embedding_word2vec_train.csv')
w2v_test = pd.read_csv('csv/solo_embedding_word2vec_test.csv')

In [44]:
w2v.sample()

      Unnamed: 0  word2vec_score
4867        4867        0.380485

In [45]:
train['w2v'] = w2v['word2vec_score']

In [46]:
train.head()

,id,keyword,location,text,target,loc_nula,w2v
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,1,0.556296
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,1,0.674412
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,1,0.725413
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,1,0.758587
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,1,0.598320

In [47]:
train_limpio = train[ ['loc_nula', 'w2v']]

In [48]:
train_limpio.head()

   loc_nula       w2v
0         1  0.556296
1         1  0.674412
2         1  0.725413
3         1  0.758587
4         1  0.598320

In [49]:
#Aplico lo mismo a test.
test['w2v'] = w2v_test['word2vec_score']

In [50]:
test_limpio = test[ ['loc_nula', 'w2v']]

In [51]:
X, y = train_limpio, train['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=13)

In [52]:
xg_reg = xgb.XGBRegressor(objective ='binary:logistic', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 10, alpha = 10, n_estimators = 5)

xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)
print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Accuracy Score : 0.8766404199475065
Precision Score : 0.9547169811320755
Recall Score : 0.755223880597015
F1 Score : 0.8433333333333334

In [53]:
rf_model = RandomForestRegressor(random_state=13, n_estimators=5, max_depth=10)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_test)

print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Accuracy Score : 0.8858267716535433
Precision Score : 0.8757575757575757
Recall Score : 0.8626865671641791
F1 Score : 0.869172932330827

In [54]:
lgb_class = lgb.LGBMRegressor(learning_rate = 0.1,
                max_depth = 10, alpha = 10, n_estimators = 5)
lgb_class.fit(X_train, y_train)
preds = lgb_class.predict(X_test)

print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Accuracy Score : 0.8923884514435696
Precision Score : 0.9259259259259259
Recall Score : 0.8208955223880597
F1 Score : 0.8702531645569621

In [55]:
catb = CatBoostRegressor(iterations=5, depth=10)
catb.fit(X_train, y_train)
preds = catb.predict(X_test)

print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Learning rate set to 0.5
0:	learn: 0.3447760	total: 5.41ms	remaining: 21.6ms
1:	learn: 0.2907327	total: 14.5ms	remaining: 21.7ms
2:	learn: 0.2755488	total: 17.8ms	remaining: 11.9ms
3:	learn: 0.2715331	total: 21.6ms	remaining: 5.4ms
4:	learn: 0.2699915	total: 25.4ms	remaining: 0us
Accuracy Score : 0.8963254593175853
Precision Score : 0.8832335329341318
Recall Score : 0.8805970149253731
F1 Score : 0.881913303437967

In [56]:
gb = GradientBoostingRegressor(n_estimators=5, learning_rate=0.1, 
                                max_features=2, max_depth = 10, random_state = 0)
gb.fit(X_train, y_train)
preds = gb.predict(X_test)

print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Accuracy Score : 0.8766404199475065
Precision Score : 0.9084745762711864
Recall Score : 0.8
F1 Score : 0.8507936507936508

In [57]:
eclf2 = VotingRegressor(estimators=[
         ('xgb', xg_reg), ('rf', rf_model), ('catb', catb), ('gb', gb), ('lgbm',lgb_class)])

eclf2 = eclf2.fit(X, y)
preds = eclf2.predict(X_test)

print('Accuracy Score : ' + str(accuracy_score(y_test,preds.round())))
print('Precision Score : ' + str(precision_score(y_test,preds.round())))
print('Recall Score : ' + str(recall_score(y_test,preds.round())))
print('F1 Score : ' + str(f1_score(y_test,preds.round())))

Learning rate set to 0.5
0:	learn: 0.3449200	total: 3.9ms	remaining: 15.6ms
1:	learn: 0.2909381	total: 14.8ms	remaining: 22.2ms
2:	learn: 0.2757969	total: 19.4ms	remaining: 12.9ms
3:	learn: 0.2717036	total: 23.2ms	remaining: 5.79ms
4:	learn: 0.2701269	total: 28.2ms	remaining: 0us
Accuracy Score : 0.9081364829396326
Precision Score : 0.9206349206349206
Recall Score : 0.8656716417910447
F1 Score : 0.8923076923076922

### Predicciones, me quedo con Voting regresor que fue el mejor puntaje

In [58]:
test_limpio.head() #esta correctamente formateado.

   loc_nula       w2v
0         1  0.534202
1         1  0.583796
2         1  0.527839
3         1  0.548836
4         1  0.726522

In [59]:
test['target'] = eclf2.predict(test_limpio)

In [60]:
test.head()

,id,keyword,location,text,loc_nula,w2v,target
0,0,NaN,NaN,Just happened a terrible car crash,1,0.534202,0.712033
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",1,0.583796,0.738440
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",1,0.527839,0.633292
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,1,0.548836,0.550511
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,1,0.726522,0.766025

In [61]:
test = test [ ['id','target'] ]

In [62]:
test ['target']   = test['target'].round().astype(int)

In [63]:
test.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [64]:
test.set_index('id',inplace= True)
test.head()

    target
id
0        1
2        1
3        1
9        1
11       1

In [65]:
test.to_csv('../csv/summit_geo_binario_w2v_nico.csv')

In [2]:
#### overfitteo.